@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

.about-main-parent {
  padding-top: 180px;

  .about-parent {
    padding: 80px 0 80px 0;
    background: whitesmoke;

    .width {
      width: 80%;
      margin: auto;

      .main-title {
        display: flex;
        justify-content: center;

        h1 {
          font-size: 55px;
          font-weight: 700;
          color: #231f20;
          text-align: center;
          font-family: "Libre Baskerville", serif;
        }
      }

      .detail {
        background: #fff3d3;
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 00px;

        .img {
          img {
            width: 100%;
          }
        }

        .para {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 30px;

          h1 {
            text-align: center;
            font-family: "Libre Baskerville", serif;
            font-size: 40px;
            font-weight: 400;
          }

          p {
            text-align: center;
            padding: 20px 0 0 0;
            font-family: "Libre Baskerville", serif;
            color: #99958c;
            
          }
          button {
            background: #fec321;

            padding: 8px 45px;
            border: 2px solid #fec321;
            transition: 0.8s;
            margin-top: 25px;
            font-size: 16px;
            cursor: pointer;
            font-family: "Poppins", sans-serif;
            font-weight: 500;

            &:hover {
              background: none;
              border: 2px solid #b8b8b8;
              color: #b8b8b8;
            }
          }
        }
      }
    }
  }
}
