@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  padding: 0;
  margin: 0;
}

.nav-bar-parent {
  /* top: 132px; */
  z-index: 99999;
  width: 100%;
}
.nav-bar-parent .navbar {
  background-color: #ffffff;
  display: flex;
  padding: 6px 0;
  align-items: center;
  font-size: 1.2rem;
  /* position: sticky;
  top: 0;
  z-index: 20; */
}
@media only screen and (max-width: 600px) {
  .nav-bar-parent .navbar {
    padding: 15px 0;
  }
}
.nav-bar-parent .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 71px;
  max-width: 1500px;
  margin: auto;
}
@media only screen and (max-width: 992px) {
  .nav-bar-parent .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 71px;
    max-width: 1500px;
    margin: auto;
  }
}
@media only screen and (max-width: 450px) {
  .nav-bar-parent .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    max-width: 1500px;
    margin: auto;
  }
}
.nav-bar-parent .logo-div {
  display: flex;
}
.nav-bar-parent .nav-logo {
  color: #f5b921;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  gap: 10px;
}
@media only screen and (max-width: 992px) {
  .nav-bar-parent .nav-logo {
    color: #f5b921;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
    gap: 10px;
    padding-left: 30px;
    padding-top: 10px;
  }
}
.nav-bar-parent .nav-logo img {
  width: 90%;
}
@media only screen and (max-width: 600px) {
  .nav-bar-parent .nav-logo img {
    width: 78%;
  }
}
@media only screen and (max-width: 450px) {
  .nav-bar-parent .nav-logo img {
    width: 51%;
    margin-left: 15px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .nav-bar-parent .nav-logo {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 450px) {
  .nav-bar-parent .nav-logo {
    padding-left: 20px;
  }
}
.nav-bar-parent .button-link {
  display: flex;
  align-items: center;
  gap: 0 0px;
}
@media only screen and (max-width: 992px) {
  .nav-bar-parent .button-link {
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-right: -55px;
  }
}
@media only screen and (max-width: 600px) {
  .nav-bar-parent .button-link {
    margin-right: -32px;
  }
}
.nav-bar-parent .nav-menu {
  display: grid;
  list-style: none;
  text-align: center;
  padding-top: 14px;
  align-items: center;
}
@media only screen and (max-width: 450px) {
  .nav-bar-parent .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    padding-top: 11px;
    align-items: center;
  }
}
@media only screen and (max-width: 992px) {
  .nav-bar-parent .nav-menu {
    gap: 0px;
  }
}
.nav-bar-parent .nav-menu .browse-flex {
  display: flex;
  gap: 0 15px;
}
.nav-bar-parent .nav-menu .browse-flex span {
  font-size: 25px;
}
@media only screen and (max-width: 992px) {
  .nav-bar-parent .nav-menu .browse-flex {
    flex-direction: column;
  }
}
.nav-bar-parent .nav-links {
  color: #447ff2;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  line-height: normal;
}
.nav-bar-parent .link {
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-family: "Manrope", sans-serif;
}
@media only screen and (max-width: 1060px) {
  .nav-bar-parent .link {
    font-size: 13px;
  }
}
.nav-bar-parent .fa-code {
  margin-left: 1rem;
}
@media only screen and (max-width: 992px) {
  .nav-bar-parent .hide-item-post {
    padding-bottom: 10px;
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .nav-bar-parent .hide-item-post .nav-item {
    width: 98%;
  }
}
@media only screen and (max-width: 450px) {
  .nav-bar-parent .hide-item-post .nav-item {
    width: 96%;
  }
}
.nav-bar-parent .hide-sign {
  display: flex;
  width: 95%;
  margin: auto;
}
@media only screen and (max-width: 992px) {
  .nav-bar-parent .hide-sign {
    display: flex;
    width: 98%;
    margin: auto;
  }
}
@media only screen and (max-width: 450px) {
  .nav-bar-parent .hide-sign {
    display: flex;
    width: 95%;
    margin: auto;
  }
}
.nav-bar-parent .hide-sign .nav-item {
  width: 100%;
}
.nav-bar-parent .hide-sign .nav-item .nav-links {
  width: 100%;
}
.nav-bar-parent .hide-sign .nav-item .nav-links input {
  width: 100%;
  background: none;
}
.nav-bar-parent .nav-item {
  line-height: 40px;
  margin-right: 1rem;
}
.nav-bar-parent .nav-item .hide-post {
  padding: 0px 20px;
  display: none;
}
@media only screen and (max-width: 992px) {
  .nav-bar-parent .nav-item .hide-post {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 0;
  }
}
.nav-bar-parent .nav-item .hide-post input {
  padding: 0px;
  font-size: 18px;
}
.nav-bar-parent .nav-item .hide-post span {
  font-size: 18px;
  padding-top: 5px;
}
.nav-bar-parent .nav-item input {
  border: 2px solid #3b81d8;
  color: #3b81d8;
  padding: 16px 15px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
}
@media only screen and (max-width: 450px) {
  .nav-bar-parent .nav-item input {
    border: 2px solid #3b81d8;
    color: #3b81d8;
    padding: 15px 0;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
  }
}
@media only screen and (max-width: 1060px) {
  .nav-bar-parent .nav-item input {
    font-size: 13px;
  }
}
.nav-bar-parent .nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}
.nav-bar-parent .nav-item:hover:after {
  color: #447ff2;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-bar-parent .nav-item .active {
  color: #447ff2;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-bar-parent .nav-icon {
  display: none;
}
.nav-bar-parent .hide-logo {
  display: none;
}
@media screen and (max-width: 992px) {
  .nav-bar-parent .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    align-items: baseline;
  }
  .nav-bar-parent .nav-menu.active {
    background: #ffffff;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    top: 0;
  }
}
@media only screen and (max-width: 992px) and (max-width: 450px) {
  .nav-bar-parent .nav-menu.active {
    top: 0px;
  }
}
@media screen and (max-width: 992px) {
  .nav-bar-parent .nav-menu.active .hide-logo {
    color: #f5b921;
    align-items: center;
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
    gap: 10px;
    padding-left: 10p;
    padding-left: 100px;
  }
  .nav-bar-parent .nav-menu.active .hide-logo img {
    width: 90%;
  }
}
@media only screen and (max-width: 992px) and (max-width: 600px) {
  .nav-bar-parent .nav-menu.active .hide-logo img {
    width: 78%;
  }
}
@media only screen and (max-width: 992px) and (max-width: 450px) {
  .nav-bar-parent .nav-menu.active .hide-logo img {
    width: 70%;
  }
}
@media only screen and (max-width: 992px) and (max-width: 600px) {
  .nav-bar-parent .nav-menu.active .hide-logo {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 992px) and (max-width: 450px) {
  .nav-bar-parent .nav-menu.active .hide-logo {
    padding-left: 50px;
    /* padding-top: 10px; */
    margin-top: -10px;
  }
}
@media screen and (max-width: 992px) {
  .nav-bar-parent .nav-item .active {
    color: #447ff2;
    border: none;
  }
  .nav-bar-parent .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }
}
@media only screen and (max-width: 992px) and (max-width: 992px) {
  .nav-bar-parent .nav-links {
    padding: 12px 10px;
    width: 100%;
    display: table;
  }
}
@media only screen and (max-width: 992px) and (max-width: 450px) {
  .nav-bar-parent .nav-links {
    padding: 10px 10px;
  }
}
@media screen and (max-width: 992px) {
  .nav-bar-parent .nav-icon {
    display: block;
    position: absolute;
    top: 35px;
    left: 20px;
    border: 2px solid #3b81d8;
    padding: 10px 10px 5px 10px;
    border-radius: 4px;
    font-size: 1.8rem;
    cursor: pointer;
    color: #3b81d8;
  }
}
@media only screen and (max-width: 992px) and (max-width: 600px) {
  .nav-bar-parent .nav-icon {
    font-size: 16px;
    top: 40px;
  }
}
@media only screen and (max-width: 992px) and (max-width: 450px) {
  .nav-bar-parent .nav-icon {
    display: block;
    position: absolute;
    top: 35px;
    left: 20px;
    font-size: 18px;
    cursor: pointer;
    color: #3b81d8;
  }
}
.nav-bar-parent .log-in {
  background: none;
  border: none;
  cursor: pointer;
}
.nav-bar-parent .login-navbar {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  gap: 10px;
  margin-top: 7px;
  background: #34a853;
  border-radius: 4px;
}
@media only screen and (max-width: 600px) {
  .nav-bar-parent .login-navbar {
    padding: 10px 12px;
  }
}
@media only screen and (max-width: 450px) {
  .nav-bar-parent .login-navbar {
    gap: 10px;
    margin: 10px 0 0 0;
  }
}
.nav-bar-parent .login-navbar span {
  margin-top: 4px;
  color: white;
}
@media only screen and (max-width: 450px) {
  .nav-bar-parent .login-navbar span {
    font-size: 13px;
  }
}
.nav-bar-parent .login-navbar input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
@media only screen and (max-width: 1060px) {
  .nav-bar-parent .login-navbar input {
    font-size: 13px;
  }
}
@media only screen and (max-width: 992px) {
  .nav-bar-parent .login-navbar input {
    font-size: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .nav-bar-parent .login-navbar input {
    font-size: 12px;
  }
}/*# sourceMappingURL=navbar.css.map */